# Note: The contained entries should augment the system-provided /etc/network/interfaces file.
#       IOW, this file should not over-write the existing /etc/network/interfaces on 
#       your system.

#
# create an Openvswitch bridge
# on the commandline: ovs-vsctl add-br brmn001
#
auto brmn001
allow-ovs brmn001
iface brmn001 inet dhcp
  ovs_type OVSBridge
  ovs_ports enp3s0 enp4s0 wlp2s0
  ovs_bridge_assume_mac enp3s0
  ovs_manager tcp:1.2.3.4:6640
  ovs_protocols OpenFlow10,OpenFlow11,OpenFlow12,OpenFlow13

# Assign additional IP addresses to the bridge

iface brmn001 inet static
  address 192.168.250.1
  netmask 255.255.255.0

iface brmn001 inet static
  address 192.168.251.1
  netmask 255.255.255.0

iface brmn001 inet static
  address 192.168.252.1
  netmask 255.255.255.0

# Attach physical ports to the bridge (requesting particular port numbers)

# This entry would represent the trunk interface (the interface with a gateway)
allow-brmn001 enp3s0
iface enp3s0 inet manual
  ovs_type OVSPort
  ovs_bridge brmn001
  ovs_port_req 2

allow-brmn001 enp4s0
iface enp4s0 inet manual
  ovs_type OVSPort
  ovs_bridge brmn001
  ovs_port_req 3

allow-brmn001 wlp2s0
iface wlp2s0 inet manual
  ovs_type OVSPort
  ovs_bridge brmn001
  ovs_port_req 4
