# THIS CONF FILE IS MANAGED BY THE MICRONETS GW SERVICE

# MODIFICATIONS TO THIS FILE WILL BE OVER-WRITTEN

dhcp-script=/home/micronets/projects/micronets-gw/micronets-gw-service/bin/dnsmasq_lease_notify.py

# Micronet: craig_user1_6b492459, interface: wlan0, vlan: 5
dhcp-range=set:craig_user1_6b492459,10.0.5.0,static,255.255.255.0,2m
dhcp-option=tag:craig_user1_6b492459, option:router,10.0.5.1
dhcp-option=tag:craig_user1_6b492459, option:dns-server,10.0.5.1

# Micronet: darshak_user1_22d0e189, interface: wlan0, vlan: 6
dhcp-range=set:darshak_user1_22d0e189,10.0.6.0,static,255.255.255.0,2m
dhcp-option=tag:darshak_user1_22d0e189, option:router,10.0.6.1
dhcp-option=tag:darshak_user1_22d0e189, option:dns-server,10.0.6.1

# DEVICES FOR MICRONET: craig_user1_6b492459

# DEVICES FOR MICRONET: darshak_user1_22d0e189

