Package: micronets-gw
Maintainer: Craig Pratt <craig@ecaspia.com>
Architecture: all
Description: Micronets Gateway Open vSwitch, REST API, and various script/control files
Depends: python3.6, python-pip, virtualenv, dnsmasq, libopenvswitch (>=2.9.2), openvswitch-common (>=2.9.2), openvswitch-switch (>=2.9.2)
