[Unit]
Description=Micronets Gateway Service
After=network-online.target

[Service]
Type=idle
WorkingDirectory=/opt/micronets/gw-service
ExecStart=/opt/micronets/gw-service/virtualenv/bin/python runner.py --config config.MockDevelopmentConfig
# User=micronets
# Group=micronets
StandardOutput=syslog
StandardError=syslog
SyslogFacility=micronets
SyslogIdentifier=gw-service
SyslogLevel=debug

[Install]
WantedBy=multi-user.target
