[Unit]
Description=Micronets Gateway Service
After=network-online.target

[Service]
Type=idle
WorkingDirectory=/opt/micronets-gw
ExecStart=/opt/micronets-gw/virtualenv/bin/python runner.py --config config.DefaultConfig
# User=micronets
# Group=micronets
StandardOutput=syslog
StandardError=syslog
# SyslogFacility=none
SyslogIdentifier=micronets-gw-service
SyslogLevel=debug

[Install]
WantedBy=multi-user.target
