#
# Output generated via "pipdeptree -f > requirements.txt"
#
# Example setup using mkvirtualenv (part of py-virtualenvwrapper):
#
# mkvirtualenv -r <micronets-dhcp-project-dir>/requirements.txt -a <micronets-dhcp-project-dir> -p python3 micronets-dhcp
# workon -c micronets-dhcp
#
# Or installing using pip (e.g. into an existing env)
#
#  pip install -r requirements.txt 
# 

pipdeptree==0.13.2
  - pip [required: >=6.0.0, installed: 18.1]
python-socketio==1.9.0
  - python-engineio [required: >=1.2.1, installed: 2.1.1]
    - six [required: >=1.9.0, installed: 1.11.0]
  - six [required: >=1.9.0, installed: 1.11.0]
Quart==0.6.6
  - aiofiles [required: Any, installed: 0.3.2]
  - blinker [required: Any, installed: 1.4]
  - click [required: Any, installed: 6.7]
  - hypercorn [required: Any, installed: 0.2.4]
    - h11 [required: ~=0.7.0, installed: 0.7.0]
    - h2 [required: Any, installed: 3.0.1]
      - hpack [required: >=2.3,<4, installed: 3.0.0]
      - hyperframe [required: >=5.0,<6, installed: 5.1.0]
    - pytoml [required: Any, installed: 0.1.19]
    - typing-extensions [required: Any, installed: 3.6.5]
    - wsproto [required: Any, installed: 0.11.0]
      - h11 [required: ~=0.7.0, installed: 0.7.0]
  - itsdangerous [required: Any, installed: 0.24]
  - jinja2 [required: Any, installed: 2.10]
    - MarkupSafe [required: >=0.23, installed: 1.0]
  - multidict [required: Any, installed: 4.3.1]
  - sortedcontainers [required: Any, installed: 2.0.2]
setuptools==40.6.3
websockets==5.0.1
wheel==0.32.3
