[Unit]
Description=Micronets OvS Bootstrap

[Service]
Type=oneshot
Restart=no
ExecStart=/opt/micronets-gw/bin/ovs-bootstrap-service-control.sh start $OPTIONS
ExecStop=/opt/micronets-gw/bin/ovs-bootstrap-service-control.sh stop $OPTIONS
ExecReload=/opt/micronets-gw/bin/ovs-bootstrap-service-control.sh reload $OPTIONS

[Install]
WantedBy=openvswitch-switch
