# THIS CONF FILE IS MANAGED BY THE MICRONETS GW SERVICE

# MODIFICATIONS TO THIS FILE WILL BE OVER-WRITTEN

dhcp-script=/Users/craig/projects/micronets/micronets-gw/micronets-gw-service/bin/dnsmasq_lease_notify.py

# Micronet: testmicronet001, ovsBridge: brmn001, interface: enxac7f3ee61832
dhcp-range=set:testmicronet001,10.40.0.0,static,255.255.255.0,10m
dhcp-option=tag:testmicronet001, option:router,10.40.0.1
dhcp-option=tag:testmicronet001, option:dns-server,8.8.8.8,4.4.4.4

# Micronet: testmicronet002, ovsBridge: brmn001, interface: enx00e04c534458
dhcp-range=set:testmicronet002,10.50.0.0,static,255.255.255.0,10m
dhcp-option=tag:testmicronet002, option:router,10.50.0.1
dhcp-option=tag:testmicronet002, option:dns-server,8.8.8.8,4.4.4.4

# DEVICES FOR MICRONET: testmicronet001

# Device: micronet-device-1,["8.8.8.8", "12.34.56.0/24", "www.yahoo.com:80/tcp,443/tcp"],[]
dhcp-host=08:00:27:e5:77:c5,micronetce-1,set:micronet-device-1,10.40.0.71,10m

# Device: micronet-device-2,[],["4.4.4.4", "34.56.78.0/24", "www.ietf.org:80/tcp,443/tcp"]
dhcp-host=00:23:12:0f:b0:26,micronetce-2,set:micronet-device-2,10.40.0.42,10m

# DEVICES FOR MICRONET: testmicronet002

# Device: micronet-device-3,[],[]
dhcp-host=08:00:27:3c:ae:02,micronetce-3,set:micronet-device-3,10.50.0.43,10m

